.price, .title{
    margin-bottom: 12px;
}

.duration{
    color: #808080;
}
p{
    color: #808080;
    margin-bottom: 8px;
}
.btn{
    background-color: rgb(255, 246, 241);
    color: hsla(20, 96%, 82%, 1);
    margin-top: 1.2rem;
    font-weight: 600;
}
.btn-hidden{
    color: white; 
    background-color: hsla(20, 50%, 59%, 1) ;
    margin-bottom: 1.2rem;
    font-weight: 600;
    display: none;
}
.card:hover {
    background-color: hsla(167, 44%, 25%, 1);
    transform: scale(1.15); 
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5); /* Add shadow */
    color: white;
}
.card:hover h1{
    color: white;
    margin-top: 2rem;
}
.card:hover h3, 
.card:hover p, 
.card:hover ul li, 
.card:hover .duration {
    color: white;
}

.card:hover .btn {
    color: white; 
    background-color: hsla(20, 50%, 59%, 1) 
}
.card:hover .btn-hidden {
    display: block;
    position: absolute;
    right: 1.2rem;
}
